<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')"
                   hide-gt-sm aria-label="Toggle navigation" translate
                   translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>

        <ms-search-bar></ms-search-bar>

        <div class="toolbar-separator"></div>

        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="64">
        </md-progress-circular>
    </div>

    <div layout="row" layout-align="start center">


        <md-menu-bar id="user-menu" ng-if="!currentUser">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ui-sref="app.pages_auth_login"
                           aria-label="User settings"
                           translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">

                            <md-icon md-font-icon="icon-account-alert"
                                 class="icon status s16" hide-xs></md-icon>
                            <!--<md-icon md-font-icon ng-class="vm.userStatus.icon"
                                     ng-style="{'color': vm.userStatus.color }"
                                     class="icon status s16">-->
                            </md-icon>
                        </div>
                        <span class="username" hide-xs>Login</span>
                        <!--<md-icon md-font-icon="icon-account-key"
                                 class="icon s16" hide-xs></md-icon> class="link" ui-sref="app.pages_auth_register" translate="LOGIN.CREATE_ACCOUNT" -->
                    </div>
                </md-button>
            </md-menu>
        </md-menu-bar>


        <md-menu-bar id="user-menu" ng-if="currentUser">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()"
                           aria-label="User settings"
                           translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">
                            <md-icon md-font-icon ng-class="vm.userStatus.icon"
                                     ng-style="{'color': vm.userStatus.color }"
                                     class="icon status s16">
                            </md-icon>
                        </div>

                        <span ng-if="!currentUser.is_staff || !currentUser.is_superuser" class="username" hide-xs>{{currentUser.first_name}}&nbsp;{{currentUser.last_name}}</span>
                        <span ng-if="currentUser.is_staff || currentUser.is_superuser" class="username" hide-xs>{{'Admin' || currentUser.username}}</span>
                        <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-xs></md-icon>
                    </div>
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ui-sref="app.pages_auth_login">Logout</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>

        <div class="toolbar-separator"></div>

        <div class="toolbar-separator"></div>

        <md-button ng-disabled id="quick-panel-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('quick-panel')"
                   aria-label="Toggle quick panel" translate translate-attr-aria-label="TOOLBAR.TOGGLE_QUICK_PANEL">
            <md-icon md-font-icon="icon-format-list-bulleted" class="icon"></md-icon>
        </md-button>
    </div>
</div>